<!DOCTYPE html>
<html ng-app="Login">
<head>
	<title>Evaluation Control</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./main.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font.lato.css">
	<link rel="stylesheet" href="../css/font.oxygen.css">
</head>
<body ng-controller="LoginController" class="be-ligth-gray">
	<div class="col-md-12 header be-white">
		<div class="container">
			<div class="col-md-4 col-md-offset-1 col-xs-6 font-oxygen text-center">
				<h1>Evaluation Control</h1>
			</div>
			<div class="col-md-3 col-md-offset-3 col-xs-6">
				<img class="logo-tec" src="../images/logo.tec.png">
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4 col-md-offset-4 content rounded-border">
			<div class="col-md-12">
	            <p>
	                <label class="label-size">Card number</label>
	                <input class="text-box rounded-border" type="text" name="card" ng-model="cardNumber" >
                	<span class="text-error">{{ errorCardNumber }}</span>
	            </p>
	        </div>
	        <div class="col-md-12">
	            <p>
	                <label class="label-size">Password</label>
	                <input class="text-box rounded-border" type="password" name="pass" ng-model="password" required>
	                <span class="text-error">{{ errorPassword }}</span>
	            </p>
	        </div> 
        	<div class="col-md-12">
        		<p>
        			<input class="button be-dark-green white rounded-border" type="button" ng-click="login()" value="Log in">
        		</p>
        	</div>
		</div>
	</div>

	<script src="../js/angular.min.js"></script>
	<script src="../Login/login.controller.js"></script>

</body>
</html>