<html ng-app>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script>
		var appModule = angular.module('app', []);
		appModule.directive('ngbkFocus', function() {
			return {
		 		link: function(scope, element, attrs, controller) {
			 	element[0].focus();
		 		}
			};
		});

		function nuestroController($scope) {
			$scope.mensaje = { texto: 'No hemos hecho click!' };

			$scope.clickSinFoco = function (){
				$scope.mensaje = { texto: 'Click en el boton sin foco'};
			};

			$scope.clickConFoco = function () {
				$scope.mensaje = { texto: 'Click en el boton con foco'};
			}
		}
		var appModule = angular.module('app', ['directives']);
	</script>
</head>
<body ng-controller="nuestroController">
	<button ng-click="clickSinFoco()">Sin Foco</button>
	<button ngbkFocus ng-click="clickConFoco()">Con Foco</button>
	<div>
		{{mensaje.texto}}
	</div>
</body>
</html>